{% extends 'Collective/CollectiveCRM/main_template.html' %}
{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Order Details</h5>
			<hr>
			<p><strong>Order ID: </strong>{{order.transaction_id}}</p>
			<p><strong>Total: </strong>{{order.get_cart_total}}</p>
			<p><strong>Status: </strong>{{order.status}}</p>
			<p><strong>Date Ordered: </strong>{{order.date_ordered}}</p>
			<p><strong>Number of Items: </strong>{{order.get_cart_items}}</p>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'Axis:update_order' order.id %}">Update Order</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Cancel Order</a>

		</div>
	</div>
	<div class="col-md">
		<div class="card card-body">
			<h5>Shipping Details</h5>
			<hr>
			<p><strong>Country:  </strong>{{shippingDetails.country}}</p>
			<p><strong>Address line 1:  </strong>{{shippingDetails.address1}}</p>
			<p><strong>Address line 2: </strong> {{shippingDetails.address2}}</p>
			<p><strong>Suburb:  </strong>{{shippingDetails.suburb}}</p>
			<p><strong>City:  </strong>{{shippingDetails.city}}</p>
			<p><strong>Province: </strong> {{shippingDetails.province}}</p>
			<p><strong>Postal Code:  </strong>{{shippingDetails.postal_code}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Details</h5>
			<hr>
			<p><strong>Email: </strong> {{order.customer.email}}</p>
			<p><strong>Phone:</strong> {{order.customer.user.phone}}</p>
		</div>
<!-- 		<div class="card card-body">
			<h5></h5>
			<hr>
			<p><strong> </strong> </p>
			<p><strong></strong> </p>
		</div> -->
	</div>	
</div>
<br>
 <div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Order Details</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>Product</th>
					<th>Name</th>
					<th>Category</th>
					<th>Quantity</th>
				</tr>
				{% for item in items %}
					<tr>
						<td><span><img src="{{item.product.imageURL1}}" padding="0px" width="25%"/></span></td>
						<td>{{item.product.name}}</td>
						<td>{{item.product.category}}</td>
						<td>{{item.quantity}}</td>
					</tr>
				{% endfor %}
			</table>

		<div class="row">
	</div>
</div>

		</div>
	</div>
	                    <button class="btn btn-sm btn-info"  title="Done" value="Back" onclick="window.history.back()">Back
                       
                    </button>
                    </div>


{% endblock content %}
