{% extends 'store_base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}


<div class="view">

    <!-- Grid -->

    <section class="grid grid--loader">

    <h2>Login</h2>
<br>
    <form class="login100-form validate-form" method="POST" novalidate>
      {% csrf_token %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert"><small><sup>x</sup></small></button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}



      <div class="" data-validate="Username is required">
        <ion-icon src="{% static 'ion-icons/people-circle-outline.svg' %}" size="large"></ion-icon>

        <input type="text" style="border-radius: 5px; padding: 10px" name="email" id="id_email" placeholder="Email: ">
      </div>
      <br>
      <div class="" data-validate="Password is required">
        <ion-icon src="{% static 'ion-icons/lock-closed-outline.svg' %}" size="large"></ion-icon>

        <input class="" style="border-radius: 5px; padding: 10px" type="password" id="id_password" name="password" placeholder="Password: ">
      </div>
        {% for field in login_form %}
    {% for error in field.errors %}
      <p style="color: red;">{{error}}</p>
    {% endfor %}
  {% endfor %}

  {% if login_form.non_field_errors %}
    <div style="color:red;">
      <p>{{login_form.non_field_errors}}</p>
    </div>
  {% endif %}
      <br>
      <div>
        <button class=" action action--button-btn" id="full_path" name="full_path" value="{{ request.get_full_path }}">
          Login
        </button>
      </div>
      <br>
      <div class="text-center w-full p-t-25 p-b-230">
        <a href="{% url 'reset_password' %}" class="action--text">
          Forgot Username / Password?
        </a>
      </div>
<br>
      <div class="text-center w-full">
        <a class="action--text" href="{% url 'account:register' %}">
          Create new account
          <ion-icon size="large" src="{% static 'ion-icons/return-up-forward-outline.svg' %}"></ion-icon>        </a>
      </div>
    </form>
</section>
</div>
{% endblock %}
