{% extends 'Axis/AxisCRM/main_template.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			{% if action == 'create' %}
				<h3>Create Order</h3>
			{% elif action == 'update' %}
				<h3>Update Order</h3>
			{% endif %}

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<form action="" method="POST">
            	{% csrf_token %}
				{% for field in form %}
					{{field.label}}
					{{field|add_class:'form-control'}}

				{% endfor %}
				<hr>
				<input type="submit" class="btn btn-info">
			</form>
		</div>
		<div class="card card-body">

		<form method="POST">
		{% csrf_token %}
		<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title" placeholder="Add title">
		</div>
		<div class="form-group">
				<label>Description</label>
				<textarea type="text" class="form-control" name="description" placeholder="Add description"></textarea>
		</div>
		<div class="form-group">
				<label>Tags</label>
				<input type="text" data-role="tagsinput" class="form-control" name="tags">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>Common Tags:
{% for mt in common_tags %}
		<a href="#" class="badge badge-success">{{mt}}</a>
{% endfor %}
</p>
</div>
	</div>
</div>

{% endblock %}
